* {
  box-sizing: border-box; /*padding margin 등 합쳐져서 계산 안되게 ㅇㅇ 고유의 크기만 가지도록*/
}

:root {
  --color-bg-dark: #f5f5f5;
  --color-bg: #fdfffd;
  --color-grey: #d1d1d1;
  --color-text: #22243b;
  --color-accent: #f16e03;
  --color-white: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.2rem;

  /*화면 꽉 채우는 작업*/
  width: 100vw;
  height: 100vh;

  /*아이템 수평 수직 중앙에 오도록*/
  display: flex;
  justify-content: center;
  align-items: center; 

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 34%,
    rgba(136, 147, 185, 1) 49%,
    rgba(78, 82, 124, 1) 64%,
    rgba(25, 64, 212, 1) 99%,
    rgba(0, 56, 255, 1) 100%
  );

  /*어떤 input을 사용하던 기본 브라우저 색상 대신에 우리 액센트 색상을 사용해줘*/
  accent-color: var(--color-accent);
}

ul {
  list-style: none; /*닷 없애기 작업*/
  padding-left: 0;
}

#root {
  width: 100%;
  height: 60%;
  max-width: 500px;
  background-color: var(--color-bg-dark);
  border-radius: 1rem;

  display: flex;
  flex-direction: column; /*자식들을 위에서 아래로 수직 배치 */

  box-shadow: 7px 7px 22px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 7px 22px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 7px 22px 0px rgba(0, 0, 0, 0.75);

  /*자식이 부모 요소보다 커졌을 때 그 밖을 침범하는 애들을 숨기기*/
  /*Hearder.module.css 에서 background-color 를 주입하니까 위에는 각진 모양이 되서 그럼 ㅇㅇ*/
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  outline: none; /**/
  border: none; /*외각선 없애기*/
}

/*스크롤바 이쁘게 꾸미기*/
::-webkit-scrollbar {
  width: 1rem
}

::-webkit-scrollbar-track {
  background-color: var(--color-bg-dark);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-grey);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-accent);
}
/*********/
